.home {
    display: flex;
    width: auto;
    height: auto;
    max-width: 100%;

    flex-direction: column;
    justify-content: center;
    
  }
.nav-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.search-container{
  display: flex;
  padding: 260px 10px;
  align-items: center;
  justify-content: center;
 
  background-size: cover;
  background-position: center;
}

.popular-event-container{
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 20px;
}



.popular-hotspot-container{
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 20px;
}