.home {
    display: flex;
    width: auto;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    
  }
  button{
    font-family: "Poppins-Medium", Helvetica;
  }
  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .header{
    position: absolute;
    top:0;
    height: 3rm;
    width: 100%;
    border-bottom: 3px ;
  }
.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.body .events-container, .body .spot-container{
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 88%;
  border-color: black;
  box-shadow: 0px 0px 0px 0px;
}

.body .events-container p, .body .spot-container p{
  padding: 10px;
}
  .header-content{
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    margin-top: 15%;
    font-size: 4rem;
    color: white;
    font-family: fantasy;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    letter-spacing: 2px;
    font-family: "Poppins-Medium", Helvetica;
    transition: opacity 0.25s;
    z-index: 2;
  }
  .container h3{
text-transform: uppercase;color: rgb(49, 101, 247);   font-size: 24px;
  }
.nav-container{
  display: flex;
  justify-content: center;
}

.popular-event-container{
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 0px 0px;
  margin-top: 20px;
}

.popular-hotspot-container{
  display: flex;
align-items: center;
  margin-top: 20px;
}

