.input-container {
    width: 300px;
    position: relative;
    padding: 15px;
  }
  
  .input-container .icon {
    position: absolute;
    right: -20px;
    top: calc(50% + 5px);
    transform: translateY(calc(-50% - 5px));
  }
  .icon svg{
    width:20px; 
    height:20px; 
    fill:none;
  }
  .input-container .search-input{
    height: 15px;
    width: 330px;
    padding: 10px;
    transition: .2s linear;
    border: 2.5px solid black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .input-container .search-input:focus {
    outline: none;
    border: 0.5px solid black;
    box-shadow: -5px -5px 0px black;
  }
  
  .input-container:hover > .icon {
    animation: anim 1s linear infinite;
  }
  
  @keyframes anim {
    0%,
    100% {
      transform: translateY(calc(-50% - 5px)) scale(1);
    }
  
    50% {
      transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
  }