.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.Trip-Logo-Container{
    height: 90px;
    display: flex;
    white-space: nowrap;
    width: 245px;
    margin-right: 10px;
}

.Trip-Logo-Container img{
    height: 100%;
    width: 100%;
}

.nav-bar .menu-list{
    display: flex;
    flex-direction: row;
    gap: 80px;
}
.nav-bar .nav{
    color: white;
    font-family: "Lato-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    width: fit-content;
}
.nav-bar .nav button:hover{
    letter-spacing: 5px;
}
.login-button{
    border: none;
}

.nav-bar .login-signup-outline {
    background-color: transparent;
    border-color: #333333; 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    overflow: hidden; 
  }
.menu-list button{
    padding: 20px 20px;
    border-radius: 10px;
}

.nav button{
    border: none;
    color: white;
    background: none;
    letter-spacing: 2px;
}
.nav button:hover{
    cursor: pointer;
    color: antiquewhite;
}
.login-signup {
    width: 100%; 
    height: 50px;
    display: block; 
  }
  

.login{
        background: #fff;
        padding: 20px;
        border-radius: 8px;
      
}
.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
    display: flex;
    align-items: center;
    justify-content: center;
  }