/* NavBar.css */

body {
    margin: 0;
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
    box-shadow: none;
    width: 100%;
  }
  
  .Trip-Logo-Container {
    height: 90px;
    display: flex;
    white-space: nowrap;
    width: 245px;
    margin-right: 10px;
  }
  
  .Trip-Logo-Container img {
    height: 100%;
    width: 100%;
  }
  
  .Trip-Logo {
    width: 80px;
  }
  
  .menu-list {
    display: flex;
    flex-grow: 1;
    justify-content: center; /* Center the navigation links */
  }
  
  .nav {
    margin-right: 20px;
    
  }
  
  .nav button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color:aliceblue;
    padding: 10px;
    transition: color 0.3s ease;
  }
  
  .nav button:hover {
    color:black;
    background: white;
  }
  
  .search-container {
    margin-left: auto;
  }
  
  .login-signup-outline {
    margin-left: 20px;
  }
  
  .login-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .login-signup {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  /* Additional styles for the login/signup modal if needed */
  